@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Playfair+Display+SC:wght@900&display=swap");

.background {
    background-image: url("../images/wallpaper.png");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.title {
    text-align: center;
    color: white;
    position: relative;
    font-size: 4rem;
    font-weight: 900;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.textarea-label {
    color: white;
    font-size: 24px;
}

.button-group {
    text-align: center;
}

.overlay {
    background-color: rgba(3, 4, 6, 0.6);
    min-height: 100vh;
    position: relative;
    border-radius: 20px;
    padding: 100px 180px;
}

#root {
    font-family: "Marcellus SC", serif;
}
